*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    justify-content: center;
}
.menu-navigation li{
    padding: 10px;
    position: relative;
    text-decoration: none;
    list-style: none;
}